@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Tema Claro */
  --background: #FEF6DD;   /* Cor de fundo clara */
  --foreground: #B7A261;    /* Cor de texto escura */
}

/* Tema Escuro */
html.dark {
  --background: #131312;   /* Cor de fundo escura */
  --foreground: #4B3D10;    /* Cor de texto clara */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
